# Ambiente
ALLOY_ENVIRONMENT=production
ALLOY_HOST_OTLP_GRPC_PORT=4317
ALLOY_HOST_OTLP_HTTP_PORT=4318
ALLOY_EXPORT_TLS_INSECURE=false
ALLOY_EXPORT_TLS_INSECURE_SKIP_VERIFY=false

# Path do log da API no HOST (será montado no container)
ALLOY_APP_LOG_PATH_HOST=/var/log/prontuario-api
ALLOY_APP_LOG_PATH=/var/log/prontuario-api/app.log

# Endpoints de destino (LGTM)
# Opcao A (rede privada/local): http://observability-server:<porta>
# Opcao B (proxy TLS recomendado): https://usuario:senha@<dominio>
ALLOY_TEMPO_OTLP_HTTP_ENDPOINT=https://otlp_user:CHANGE_ME@otlp-http.seu-dominio
ALLOY_MIMIR_OTLP_HTTP_ENDPOINT=https://otlp_user:CHANGE_ME@mimir-otlp.seu-dominio/otlp
ALLOY_LOKI_WRITE_URL=https://otlp_user:CHANGE_ME@loki-write.seu-dominio/loki/api/v1/push
